---
layout : default
title: Bonjour NPM
---

{% for post in paginator.posts %}
{% assign post = site.posts.first %}
{% assign content = post.content %}
{% include post.html %}
{% endfor %}

<div class="pagination">
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="tags__link">&lt;&lt; Package précédent</a>
  {% endif %}
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="tags__link">Package Suivant &gt;&gt;</a>
  {% endif %}
</div>
