 
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="ProteusThemes">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Bonjour NPM</title>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/stylesheets/ada26de2.main.css"/>

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
      <![endif]-->

    <!-- Google Fonts -->
    <script type="text/javascript">
      WebFontConfig = {
        google: {
          families: ['Open+Sans:300,400,700:latin', 'Lato:700,900:latin']
        }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
          '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();
    </script>
  </head>
  <body>

    <!-- header -->
    <header class="header  push-down-45">
      <div class="container">
        <div class="logo  pull-left">
          <h2><a href="/">Bonjour NPM</a></h2>
        </div>
      </div>
    </header>

    <!-- Search - Open panel -->
    <div class="search-panel">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <form action="search-results.html">
              <input type="text" class="search-panel__form  js--search-panel-text" placeholder="Commencer à taper votre recherche">
              <p class="search-panel__text">Appuyer sur entrer pour afficher les récultats ou echap pour annuler</p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12  col-md-8">
            {{ content }}
        </div>

        <div class="col-xs-12  col-md-4">

          <!-- Widget author -->
          <div class="widget-author  boxed  push-down-30">
            <div class="row">
              <div class="col-xs-10  col-xs-offset-1">
                <h4></h4>
                <p>Découvrez tous les jours un nouveau package NPM</p>
              </div>
            </div>
          </div>
          <div class="sidebar  boxed  push-down-30">
            <div class="row">
              <div class="col-xs-10  col-xs-offset-1">

                <div class="push-down-30">
                  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- BonjourNPM - menu -->
                  <ins class="adsbygoogle"
                       style="display:inline-block;width:300px;height:250px"
                       data-ad-client="ca-pub-0786596564037134"
                       data-ad-slot="3844710487"></ins>
                  <script>
                  (adsbygoogle = window.adsbygoogle || []).push({});
                  </script>
                </div>

                <div class="widget-recent-comments  push-down-30">
                  <h6>Packages récents</h6>
                  <ul>
                    {% for post in site.posts limit:5 %}
                      <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                        <br />
                      </li>
                    {% endfor %}
                  </ul>
                </div>
<!--
                <div class="widget-categories  push-down-30">
                  <h6>Categories</h6>
                  <ul>
                    <li>
                      <a href="#">Sécurité &nbsp; <span class="widget-categories__text">(16)</span>  </a> 
                    </li>
                    <li>
                      <a href="#">User Interface design &nbsp; <span class="widget-categories__text">(13)</span>  </a> 
                    </li>
                    <li>
                      <a href="#">User Experience &nbsp; <span class="widget-categories__text">(9)</span>  </a> 
                    </li>
                    <li>
                      <a href="#">Startups &nbsp; <span class="widget-categories__text">(23)</span>  </a> 
                    </li>
                    <li>
                      <a href="#">Reading &amp; Books &nbsp; <span class="widget-categories__text">(3)</span>  </a> 
                    </li>
                  </ul>
                </div>
-->
                <div class="widget-twitter  push-down-30">
                  <h6>Twitter</h6>
                  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/BonjourNPM"
                    data-widget-id="460890051371474945">Tweets by @BonjourNPM</a>
                  <script>!function(d,s,id){var
                    js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="/js/main.js"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-50467509-1', 'bonjournpm.fr');
      ga('send', 'pageview');

    </script>
  </body>
</html>
